{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> site-header}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  {{> page-header template-class='template-archive' no-hero=true}}
  <main class="main-content">
    <div class="container-sm">
      <div class="row">
        <article class="{{post_class}} borderbox post-content custom-archive-template">
          {{content}}
          <div class="archive-page">
            {{#get "posts" limit="all" as |articles pages|}}
              <div class="archive-page-title">{{date published_at format="YYYY年MM月DD日"}} 累计 {{pages.total}} 篇文章</div>
              <ul class="archive-page-list timeline">
                {{#foreach articles}}
                  <div class="timeline-item">
                    <div class="timeline-marker"></div>
                    <div class="card border-0 shadow timeline-content">
                      <a href="{{url}}" class="card-body">
                        <div class="media-left">
                          <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY年MM月DD日"}}</time>
                          <h6 class="card-title">
                            {{title}}
                          </h6>
                          <p class="card-text">{{excerpt words="33"}}</p>
                        </div>
                        {{#if feature_image}}
                          <div class="media-right">
                            <img class="card-img-right"
                                 srcset="{{img_url feature_image size="s"}} 300w,
                                       {{img_url feature_image size="m"}} 600w,
                                       {{img_url feature_image size="l"}} 1000w,
                                       {{img_url feature_image size="xl"}} 2000w"
                                 sizes="(max-width: 1000px) 400px, 700px"
                                 src="{{img_url feature_image size="m"}}"
                                 alt="{{title}}"
                            />
                          </div>
                        {{/if}}
                      </a>
                    </div>
                  </div>
                {{/foreach}}
              </ul>
            {{/get}}
          </div>
        </article>
      </div>
    </div>
  </main>
{{/post}}
