<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

  {{!-- 网页设置 --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit">

  {{!-- 基本网页标签 --}}
  <title>{{meta_title page=(t " - 第%页")}}{{#is "post"}} – {{@site.title}}{{/is}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <meta name="keywords" content="">

  {{!-- 依赖样式表 --}}
  <link id="bootstrap-css" type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
  <link id="fontawesome-css" type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">

  {{!-- 样式脚本 --}}
  <link id="rebirth-css" rel="stylesheet" type="text/css" href="{{asset "/css/styles.css"}}" />

  {{!-- dns预加载 --}}
  <link rel="dns-prefetch" href="{{@site.url}}">
  <link rel="dns-prefetch" href="//cdn.jsdelivr.net">
  <link rel="dns-prefetch" href="//cdn.iiong.com">
  <link rel="dns-prefetch" href="//hm.baidu.com">
  <link rel="dns-prefetch" href="//zz.bdstatic.com">
  <link rel="dns-prefetch" href="//sp0.baidu.com">
  <link rel="dns-prefetch" href="//api.share.baidu.com">
  <link rel="dns-prefetch" href="//push.zhanzhang.baidu.com">
  <link rel="dns-prefetch" href="//gravatar.loli.net">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
  <link rel="dns-prefetch" href="//www.googletagmanager.com">

  {{!-- Ghost 页头信息 --}}
  {{ghost_head}}

</head>
<body class="rebirth-body {{body_class}}">

<div class="d-flex site-wrapper">
  <div class="d-block d-lg-none d-xl-none sidebar-wrapper">
    {{> site-mobile-sidebar}}
  </div>
  <div class="main-wrapper">
    {{#is "post"}}
      <div class="progress site-progress">
        <div class="progress-bar reading-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    {{/is}}
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{> site-footer-waves-area}}
    {{> site-footer-info}}
    {{> site-footer-copyright}}
  </div>
  {{> site-search}}
  {{> site-to-top}}
  {{> site-toasts}}
</div>
<script type="text/javascript">
window.rebirth = {
  name: "{{@site.title}}",
  url: "{{@site.url}}"
}
</script>
{{!-- 依赖脚本 --}}
<script id="jquery-js" type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script id="bootstrap-js" type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script id="content-api-js" type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tryghost/content-api@1.4.1/umd/content-api.min.js"></script>
<script id="ghost-search" type="text/javascript" src="https://cdn.jsdelivr.net/npm/ghost-search@1.1.0/dist/ghost-search.min.js"></script>

{{!-- 脚本 --}}
<script id="rebirth-js" type="text/javascript" src="{{asset "/js/rebirth.js"}}"></script>

{{!-- 用户自定义脚本 --}}
{{{block "scripts"}}}

{{!-- Ghost 页脚信息 --}}
{{ghost_foot}}

</body>
</html>
