{{#has number="nth:8"}}

  <article class="post-card post post-list-google-adsense">
    <div class="has-google-adsense">
      <ins class="adsbygoogle"
           style="display:block;"
           data-ad-format="fluid"
           data-ad-layout-key="+4c+ps+1s-cj+eg"
           data-ad-client="ca-pub-5781009105744977"
           data-ad-slot="7637540653">
      </ins>
    </div>
    <div class="shielding-ads-tips">
      <a class="tips-image post-card-image-link">{{> "icons/shielding-ads-tips"}}</a>
      <div class="post-card-content">
        <div class="post-card-content-link">
          本站维护不易，目前加入非侵入式广告，不影响您浏览本站体验！请将本站域名加入拦截广告插件白名单中！如果网站广告影响到您的阅读体验， 请反馈到<a href="mailto:i@iiong.com" target="_blank">博主邮箱</a>，非常谢谢！ （如果已经加入广告拦截白名单后依然出现异常，请耐心等待Google广告对本站的适配！）
        </div>
      </div>
    </div>
  </article>

{{/has}}

<article class="post-card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">

  {{#if feature_image}}
    <a class="post-card-image-link" href="{{url}}">
      {{!-- This is a responsive image, it loads different sizes depending on device
      https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
      <img class="post-card-image"
           srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
           sizes="(max-width: 1000px) 400px, 700px"
           src="{{img_url feature_image size="m"}}"
           alt="{{title}}"
      />
    </a>
  {{/if}}

  <div class="post-card-content">

    <a class="post-card-content-link" href="{{url}}">

      <header class="post-card-header">
        {{#if primary_tag}}
          <span class="post-card-tags">{{primary_tag.name}}</span>
        {{/if}}
        <h2 class="post-card-title">{{title}}</h2>
      </header>

      <section class="post-card-excerpt">
        <p>{{excerpt words="33"}}</p>
      </section>

    </a>

    <footer class="post-card-meta">

      <ul class="author-list">
        {{#foreach authors}}
          <li class="author-list-item">

            <div class="author-name-tooltip">
              {{name}}
            </div>

            {{#if profile_image}}
              <a href="{{url}}" class="static-avatar">
                <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}"/>
              </a>
            {{else}}
              <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
            {{/if}}
          </li>
        {{/foreach}}
      </ul>

      <div class="post-info">
        <span class="reading-time">{{reading_time minute=(t "1分钟阅读") minutes=(t "%分钟阅读")}}</span>
        <span class="reading-date"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY年MM月DD日"}}</time></span>
      </div>

    </footer>

  </div>{{!--/.post-card-content--}}

</article>
