{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<main class="ha__main {{body_class}} custom-template custom-archive-for-page">
  {{#if feature_image}}
    <section class="ha__main-hero ha__main-hero-article d-flex justify-content-center align-items-center">
      {{> "header-background" background=feature_image}} {{!--Special header-background.hbs partial to generate the background image--}}
    </section>
  {{else}}
    <section class="ha__main-hero ha__main-hero-no-feature-image"></section>
  {{/if}}
  <div class="ha__main-article">
    <div class="container">
      <div class="ha__main-article-main my-5">
        <article class="ha__main-article-content archive-page">
          {{#get "posts"}}
            <div class="archive-page-title">{{date published_at format="YYYY年MM月DD日"}} 累计 {{pages.total}} 篇文章</div>
          {{/get}}
          <ul class="archive-page-list timeline">
            {{#foreach posts visibility="all"}}
              <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="card border-0 shadow timeline-content">
                  <a href="{{url}}" class="card-body">
                    <div class="media-left">
                      <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY年MM月DD日"}}</time>
                      <h6 class="card-title">
                        {{title}}
                      </h6>
                      <p class="card-text">{{excerpt words="33"}}</p>
                    </div>
                    {{#if feature_image}}
                      <div class="media-right">
                        <img class="card-img-right"
                          srcset="{{img_url feature_image size="s"}} 300w,
                                       {{img_url feature_image size="m"}} 600w,
                                       {{img_url feature_image size="l"}} 1000w,
                                       {{img_url feature_image size="xl"}} 2000w"
                          sizes="(max-width: 1000px) 400px, 700px"
                          src="{{img_url feature_image size="m"}}"
                          alt="{{title}}"
                        />
                      </div>
                    {{/if}}
                  </a>
                </div>
              </div>
            {{/foreach}}
          </ul>
        </article>
      </div>
      {{pagination}}
    </div>
  </div>
  {{> "site-to-top"}}
</main>
