{{!-- 文章列表的每个文章展示元素 --}}
{{!-- ^is "paged" 判断当前页面是否第一页 --}}
<article class="col-12 {{^is "paged"}}{{#if @first}}col-lg-12 col-xl-8{{else}}col-md-6 col-xl-4{{/if}}{{else}}col-md-6 col-xl-4{{/is}} {{post_class}} home-post-item">
  <div class="ha__main-post-item {{^is "paged"}}{{#if @first}}ha__main-post-item-big{{else}}ha__main-post-item-normal{{/if}}{{else}}ha__main-post-item-normal{{/is}} h-100 card border-0 shadow rounded overflow-hidden">
    {{^is "paged"}}
      {{#if @first}}
      {{!--todo: 特色图非空判断--}}
        <div class="card-img-full"
             srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
             sizes="(max-width: 1000px) 400px, 700px"
             style="background-image: url('{{img_url feature_image size="m"}}')"
             alt="{{title}}"
        ></div>
      {{else}}
      {{!--todo: 特色图非空判断--}}
        <img class="card-img-top"
             srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
             sizes="(max-width: 1000px) 400px, 700px"
             src="{{img_url feature_image size="m"}}"
             alt="{{title}}"
        />
      {{/if}}
    {{else}}
    {{!--todo: 特色图非空判断--}}
      <img class="card-img-top"
           srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
           sizes="(max-width: 1000px) 400px, 700px"
           src="{{img_url feature_image size="m"}}"
           alt="{{title}}"
      />
    {{/is}}
    <div class="card-post-meta">
      {{!--todo: 多个作者存在--}}
      {{#primary_author}}
        <a href="{{url}}" class="card-post-meta-author-link">
          <img data-bs-toggle="tooltip"
               data-bs-placement="top"
               title="{{name}}"
               src="{{img_url profile_image size="xs"}}"
               class="rounded-circle card-post-meta-author"
               alt="{{name}}"
          />
        </a>
      {{/primary_author}}
      {{^is "paged"}}
        {{#if @first}}
          {{!--todo: 标签非空判断--}}
          {{#primary_tag}}
            <div class="card-post-meta-tag">
              <a href="{{url}}" class="tag-name">{{name}}</a>
            </div>
          {{/primary_tag}}
        {{/if}}
      {{/is}}
    </div>
    <div class="card-body{{^is "paged"}}{{#if @first}} d-flex flex-column justify-content-center{{/if}}{{/is}}">
      {{#unless @first}}
      {{!--todo: 标签非空判断--}}
        {{#primary_tag}}
          <div class="card-post-meta-tag mb-3">
            <a href="{{url}}" class="tag-name">{{name}}</a>
          </div>
        {{/primary_tag}}
      {{/unless}}
      <h5 class="card-title {{^is "paged"}}{{#if @first}}mt-5 mb-2 w-100{{else}}mb-3{{/if}}{{else}}mb-3{{/is}}">{{title}}</h5>
      <p class="card-text {{#unless @first}}mb-5{{/unless}}">{{excerpt}}</p>
      <div class="card-time">
        <time class="date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY年MM月DD日"}}</time>
        <span class="break mx-1">•</span>
        <span class="read-time">{{reading_time minute=(t "1 分钟阅读") minutes=(t "% 分钟阅读")}}</span>
      </div>
      <a href="{{url}}" class="stretched-link"></a>
    </div>
  </div>
</article>
