<header class="ha__header">
  <nav class="ha__header-navbar navbar fixed-top navbar-expand-lg shadow-lg py-3">
    <div class="container">
      {{#if @site.logo}}
        <a class="blog-name navbar-brand site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
      {{else}}
        <a class="blog-name navbar-brand" href="{{@site.url}}">{{@site.title}}</a>
      {{/if}}
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbar-supported-content"
              aria-controls="navbar-supported-content"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <i class="fas fa-ellipsis-h navbar-toggle-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbar-supported-content">
        {{navigation}}
        <div class="d-flex ha__header-right">
          <button type="button" class="btn ha__header-right-search search-click-action">
            <i class="fas fa-search"></i>
          </button>
          <button type="button" class="btn ha__header-right-style dark-click-action">
            <i class="fas fa-moon"></i>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
