<!DOCTYPE html>
<html lang="zh-CN">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title page=(t " (第%页)")}}{{#is "home"}} – 关注互联网及IT科技的个人博客{{/is}}{{#is "post, page"}} – {{@site.title}}{{/is}}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="淮城一只猫,淮城,IT博客,个人博客,王瑾,盒子丶先生,WEB平台,BOX-ROM,BoxMod">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />

    {{!-- dns预加载 --}}
    <link rel="dns-prefetch" href="{{@site.url}}">
    <link rel="dns-prefetch" href="https://casper.ghost.org">
    <link rel="dns-prefetch" href="https://static.ghost.org">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://cdn.iiong.com">
    <link rel="dns-prefetch" href="https://hm.baidu.com">
    <link rel="dns-prefetch" href="https://zz.bdstatic.com">
    <link rel="dns-prefetch" href="https://sp0.baidu.com">
    <link rel="dns-prefetch" href="https://api.share.baidu.com">
    <link rel="dns-prefetch" href="https://push.zhanzhang.baidu.com">
    <link rel="dns-prefetch" href="https://www.googletagservices.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
    <link rel="dns-prefetch" href="https://adservice.google.com">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright">
                    <div>
                        <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow noopener">苏ICP备15050739号-4</a>
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010402000196" target="_blank" rel="nofollow noopener">苏公网安备32010402000196号</a>
                    </div>
                    <div>
                        <a href="{{@site.url}}">{{@site.title}}</a> Copyright &copy; {{date format="YYYY"}}
                        Crafted with <a href="https://github.com/JaxsonWang/Casper-zh" target="_blank" rel="nofollow noopener">Casper</a>
                        Powered by <a href="https://ghost.org/zh_CN/" target="_blank" rel="nofollow noopener">Ghost</a>
                    </div>
                </section>
                <nav class="site-footer-nav">
                    <a href="{{@site.url}}">首页</a>
                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="nofollow noopener">Facebook</a>{{/if}}
                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="nofollow noopener">Twitter</a>{{/if}}
                    <a href="https://tongji.baidu.com/web/10921506/overview/index?siteId=11569818" target="_blank" rel="nofollow noopener">百度统计</a>
                </nav>
            </div>
        </footer>
        <a href="javascript:" id="return-to-top">{{> "icons/gotop"}}</a>
    </div>

    {{!-- Search Cover --}}
    <div class="search-cover"></div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @site.logo}}
                <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">订阅 {{@site.title}}</h1>
            <p class="subscribe-overlay-description">保持更新！所有最新最好的文章全部送进你的邮箱</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>


    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.min.js"}}"></script>

    {{#is "index"}}
        {{!--Ghost Search Library Support --}}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@tryghost/content-api/umd/content-api.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ghost-search/dist/ghost-search.min.js"></script>
    {{/is}}

    {{#if pagination.pages}}
        <script type="text/javascript" src="{{asset "js/infinitescroll.min.js"}}"></script>
    {{/if}}

    <script type="text/javascript" src="{{asset "js/casper.min.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
