<article class="row mb-3 my-lg-5 post-card home-post-item {{post_class}}">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 px-0 {{#if @even}}order-lg-last{{else}}order-lg-first{{/if}}">
    <div class="post-card-image">
      <a href="{{url}}" class="post-card-image-link {{#if @even}}even{{else}}odd{{/if}}">
        <div class="post-card-image-link-background"
           srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
           sizes="(max-width: 1000px) 400px, 700px"
           style="background-image: url({{#if feature_image}}{{img_url feature_image size="l"}}{{else}}{{asset "/img/no-image.png"}}{{/if}})"
        >
        </div>
      </a>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 {{#if @even}}order-lg-first{{else}}order-lg-last{{/if}}">
    <div class="d-flex flex-column justify-content-center post-card-content">
      {{#if primary_tag}}
        {{#primary_tag}}
          <div class="text-center text-lg-left mt-3 mt-lg-0 post-card-content-tag">
            <i class="fas fa-bookmark"></i>
            {{name}}
          </div>
        {{/primary_tag}}
      {{/if}}
      <h3 class="text-left post-card-content-title">
        <a href="{{url}}" class="post-card-content-title-link">{{title}}</a>
      </h3>
      <p class="mb-3 mb-md-5 text-left post-card-content-excerpt">{{excerpt}}</p>
      <div class="d-flex justify-content-start align-items-center post-card-content-meta">
        <div class="d-flex align-items-center mr-1 post-card-content-meta-authors">
          {{!-- todo 头像非空判断 --}}
          {{#foreach authors}}
            <a href="{{url}}" class="post-card-content-meta-authors-link site-tooltip" data-toggle="tooltip" data-placement="top" title="{{name}}">
              <img class="img-thumbnail rounded-circle post-card-content-meta-authors-link-avatar" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
            </a>
          {{/foreach}}
        </div>
        <div class="d-flex flex-column align-items-start ml-1 post-card-content-meta-other">
          <div class="post-card-content-meta-other-date">
            <i class="icon far fa-clock"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
          </div>
          <div class="post-card-content-meta-other-readtime">
            <i class="icon far fa-bookmark"></i> {{reading_time minute=(t "1分钟阅读") minutes=(t "%分钟阅读")}}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
