{{!-- Everything inside the #author tags pulls data from the author --}}
{{#primary_author}}
  <section class="d-flex justify-content-between align-items-center post-author-footer">
    <section class="author-card d-flex w-100 justify-content-between align-items-center">
      {{#if profile_image}}
        <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}">
      {{else}}
        <img class="author-profile-image" src="//cn.gravatar.com/avatar/ca4628a0863a739cb67a355ea4c567a3?s=250&amp;d=mm&amp;r=x" alt="{{name}}">
      {{/if}}
      <section class="w-100 author-card-content">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto pr-0">
            <h4 class="author-card-name">
              <a href="{{url}}">{{name}}</a>
            </h4>
          </div>
          <div class="col-12 col-sm-12 col-md-auto col-lg-auto col-xl-auto">
            <div class="author-card-social">
              <a class="site-tooltip author-card-social-links" target="_blank" rel="noreferrer noopener nofollow" href="#RegQQLinkReg" data-toggle="tooltip" data-placement="top" title="RegQQTipReg">
                <i class="fab fa-qq"></i>
              </a>
              <a class="site-popover author-card-social-links"
                 data-container=".site-wrapper"
                 data-toggle="popover"
                 data-placement="top"
                 data-trigger="hover"
                 data-content="<div class='hero-social-wechat'><img src='https://img.alicdn.com/imgextra/i4/2038135983/O1CN011u4G8M87EOv3N6Q_!!2038135983.jpg' alt='微信二维码'/></div>"
              >
                <i class="fab fa-weixin"></i>
              </a>
              <a class="site-tooltip author-card-social-links" target="_blank" rel="noreferrer noopener nofollow" href="#RegWeiboLinkReg" data-toggle="tooltip" data-placement="top" title="RegWeiboTipReg">
                <i class="fab fa-weibo"></i>
              </a>
              <a class="site-tooltip author-card-social-links" target="_blank" rel="noreferrer noopener nofollow" href="#RegGithubLinkReg" data-toggle="tooltip" data-placement="top" title="RegGithubTipReg">
                <i class="fab fa-github"></i>
              </a>
              {{#if website}}
                <a class="site-tooltip author-card-social-links" target="_blank" rel="noreferrer noopener nofollow" href="{{website}}" data-toggle="tooltip" data-placement="top" title="个人地址">
                  <i class="fas fa-globe-asia"></i>
                </a>
              {{/if}}
              {{#if twitter}}
                <a class="site-tooltip author-card-social-links" target="_blank" rel="noreferrer noopener nofollow" href="{{twitter_url}}" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              {{/if}}
              {{#if facebook}}
                <a class="site-tooltip author-card-social-links" target="_blank" rel="noreferrer noopener nofollow" href="{{facebook_url}}" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="fab fa-facebook"></i>
                </a>
              {{/if}}
            </div>
          </div>
        </div>
        {{#if bio}}
          <p>{{bio}}</p>
        {{else}}
          <p>阅读此作者的<a href="{{url}}">更多文章</a></p>
        {{/if}}
      </section>
    </section>
    <div class="post-footer-right">
      <a class="author-card-button" href="{{url}}">更多文章</a>
    </div>
  </section>
{{/primary_author}}
