<ul class="post-copyright">
  <li class="post-copyright-author">
    <strong>文章作者： </strong>
    {{#primary_author}}{{name}}{{/primary_author}}
  </li>
  <li class="post-copyright-link">
    <strong>文章链接：</strong>
    <a href="{{url}}" title="{{title}}">{{@site.url}}{{url}}</a>
  </li>
  <li class="post-copyright-license">
    <strong>版权声明： </strong>本博客所有文章除特别声明外，均采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="external nofollow" target="_blank">CC BY-NC-SA 4.0</a> 许可协议，转载请注明出处！
  </li>
</ul>
