<div class="flex justify-center items-start">
  <h3 class="text-3xl md:text-4xl text-center mb-2 pb-2 dark:text-white">
    {{title}}
  </h3>
  {{#if featured}}
    <span class="text-pink-500 w-5 h-5">{{> "icons/bard-line"}}</span>
  {{/if}}
</div>
<div class="text-sm md:text-base text-center mb-4 dark:text-white block md:flex justify-center">
  <div class="flex justify-center">
    {{#if primary_author}}
      <span class="meta meta-title">{{#primary_author}}{{name}}{{/primary_author}}</span>
    {{/if}}
    <span class="meta-cut">•</span>
    {{#if primary_tag}}
      <span class="meta meta-tag">{{#primary_tag}}{{name}}{{/primary_tag}}</span>
    {{/if}}
  </div>
  <div class="flex justify-center">
    <span class="meta-cut hidden md:block">•</span>
    <time class="meta-title title-date-time" datetime="{{date published_at format="YYYY-MM-DD"}}">发布于 {{date published_at format="YYYY年MM月DD日"}}</time>
    <span class="meta-cut">•</span>
    <time class="meta-title title-date-time" datetime="{{date updated_at format="YYYY-MM-DD"}}">更新于 {{date updated_at format="YYYY年MM月DD日"}}</time>
  </div>
  <div class="flex justify-center">
    {{#if @custom.comments_twikoo_env_id}}
      <span class="meta-cut hidden md:block">•</span>
      <span id="{{url}}">阅读量 <span id="twikoo_visitors">0</span> 次</span>
      <span class="meta-cut">•</span>
      <span id="{{url}}">评论量 <span id="twikoo_comments">0</span> 个</span>
    {{/if}}
  </div>
</div>
