<h3 class="text-3xl md:text-4xl text-center mb-2 pb-2 dark:text-white">
  {{title}}
</h3>
<div class="text-base md:text-lg text-center mb-4 dark:text-white">
  {{#if primary_author}}
    <span class="meta meta-title">{{#primary_author}}{{name}}{{/primary_author}}</span>{{/if}}
  <span class="meta-cut">•</span>
  <time class="meta-title title-date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date
    format="YYYY年MM月DD日"}}</time>
  <span class="meta-cut">•</span>
  {{#if primary_tag}}<span class="meta meta-tag">{{#primary_tag}}{{name}}{{/primary_tag}}</span>{{/if}}
  {{#if @custom.comments_twikoo_env_id}}
    <span class="meta-cut">•</span>
    <span id="{{url}}">阅读量 <span id="twikoo_visitors">0</span> 次</span>
    <span class="meta-cut">•</span>
    <span id="{{url}}">评论量 <span id="twikoo_comments">0</span> 个</span>
  {{/if}}
</div>
