<h3 class="text-3xl md:text-4xl text-center mb-2 pb-2 dark:text-white">
  {{title}}
</h3>
<div class="text-base md:text-lg text-center mb-4 dark:text-white">
  {{#if primary_author}}
    <span class="meta meta-title">{{#primary_author}}{{name}}{{/primary_author}}</span>{{/if}}
  <span class="meta-cut">•</span>
  <time class="meta-title title-date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date
    format="YYYY年MM月DD日"}}</time>
  <span class="meta-cut">•</span>
  {{#if primary_tag}}<span class="meta meta-tag">{{#primary_tag}}{{name}}{{/primary_tag}}</span>{{/if}}
  <span class="meta-cut">•</span>
  <span>评论 {{comment_count singular="" plural="" empty="0"}} 个</span>
</div>

