{{!-- The global footer at the very bottom of the screen --}}
<footer class="pomelo-footer">
  <div class="container">
    <div class="py-6 md:py-12 px-4 md:px-0 md:pb-20">
      <nav class="pomelo-footer-nav mt-4 mb-8 md:mt-8 md:mb-16">
        {{navigation type="secondary"}}
      </nav>
      <div class="pomelo-footer-copyright">
        <div class="flex md:justify-between justify-center my-2">
          <section class="text-center">
            <p>Powered by <a href="https://ghost.org" rel="noopener nofollow" target="_blank">Ghost</a>. Copyright &copy; 2021 ~ {{date format="YYYY"}}. ❤️ Crafted with <a href="https://iiong.com" target="_blank" rel="noopener nofollow">Pomelo</a> Theme.</p>
          </section>
          <div class="hidden md:block">{{@custom.footer_one}}</div>
        </div>
        <div class="flex flex-wrap-reverse md:justify-between justify-center text-center my-2">
          <p>
            {{#if @custom.icp_name}}
              <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener" class="block md:inline">{{@custom.icp_name}}</a>
            {{/if}}
            {{#if @custom.gongan_beian_name}}
              <a href="{{@custom.gongan_beian_url}}" target="_blank" rel="nofollow noopener" class="block md:inline">{{@custom.gongan_beian_name}}</a>
            {{/if}}
            {{#if @custom.footer_url_url}}
              <a href="{{@custom.footer_url_url}}" target="_blank" rel="nofollow noopener" class="block md:inline">{{@custom.footer_url_name}}</a>
            {{/if}}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
{{> "site-mobile-sidebar"}}
