<header class="pomelo-header">
  <div class="container px-4 md:px-10">
    <nav class="pomelo-header-inner relative flex justify-between items-center">
      <div class="relative flex justify-between items-end">
        <div class="pomelo-header-brand">
          {{#if @site.logo}}
            <a class="pomelo-header-navbar-logo" href="{{@site.url}}">
              <img src="{{@site.logo}}" alt="{{@site.title}}" class="pomelo-header-navbar-logo-image" />
            </a>
          {{else}}
            <a class="pomelo-header-navbar-title" href="{{@site.url}}">{{@site.title}}</a>
          {{/if}}
        </div>
        <div class="pomelo-header-menu ml-4 hidden md:block">
          {{navigation}}
        </div>
      </div>
      <div class="flex relative">
        <a data-ghost-search class="pomelo-header-icon">
          {{> "icons/search"}}
        </a>
        <a aria-describedby="tooltip" class="event-tooltip pomelo-header-icon">
          {{> "icons/system-mode"}}
        </a>
        <a class="event-mobile-menu pomelo-header-icon pomelo-header-icon-mobile">
          {{> "icons/menu"}}
        </a>
        <div class="pomelo-tooltip pomelo-tooltip-color-scheme-mode pomelo-tooltip-light d-none" role="tooltip">
          <div class="pomelo-color-scheme">
            <div class="pomelo-color-scheme-item event-light">{{> "icons/light-mode"}} <span>浅色模式</span></div>
            <div class="pomelo-color-scheme-item event-night">{{> "icons/night-mode"}} <span>深色模式</span></div>
            <div class="pomelo-color-scheme-item event-system">{{> "icons/system-mode"}} <span>自动模式</span></div>
          </div>
          <div class="pomelo-tooltip-arrow" data-popper-arrow></div>
        </div>
      </div>
    </nav>
  </div>
</header>
