<header class="pomelo-header sticky top-0 z-40 w-full bg-white dark:bg-slate-800 ring-1 ring-slate-900/5 shadow-xl">
  <div class="max-w-7xl mx-auto">
    <div class="py-4 px-4 md:px-0">
      <nav class="pomelo-header-inner relative flex justify-between items-center">
        <div class="relative flex justify-between items-end">
          <div class="pomelo-header-brand">
            {{#if @site.logo}}
              <a class="pomelo-navbar-logo" href="{{@site.url}}">
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
              </a>
            {{else}}
              <a class="pomelo-navbar-title text-2xl hover:text-gray-500" href="{{@site.url}}">{{@site.title}}</a>
            {{/if}}
          </div>
          <div class="pomelo-header-menu ml-4 hidden md:block">
            {{navigation}}
          </div>
        </div>
        <div class="flex">
          <a class="cursor-pointer w-5 mt-0.5">{{> "icons/search"}}</a>
          <a class="cursor-pointer w-5 ml-2 hidden md:block">{{> "icons/sun"}}</a>
          <a class="cursor-pointer w-5 ml-2">{{> "icons/menu-fold"}}</a>
        </div>
      </nav>
    </div>
  </div>

</header>
