<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.主题风格 "黑暗"}} class="dark-mode"{{else match @custom.主题风格 "自动"}} class="auto-color"{{/match}}>
<head>

  {{!-- 基本信息 --}}
  <title>{{meta_title page=(t " - 第%页")}}{{#is "post"}} - {{@site.title}}{{/is}}</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#ff69b4" />
  <meta name="description" content="<%description%>" />
  <meta name="keywords" content="<%keywords%>">
  <meta name="renderer" content="webkit" />

  {{!-- 主题样式 --}}
  <link id="pomelo-css" rel="stylesheet" type="text/css" href="{{asset "assets/pomelo.css"}}" />
  <link id="font-awesome-css" rel="stylesheet" href="https://lib.baomitu.com/font-awesome/6.1.1/css/all.min.css">

  {{!-- dns预加载 --}}
  <link rel="dns-prefetch" href="{{@site.url}}" />
  <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
  <link rel="dns-prefetch" href="https://lib.baomitu.com" />

  {{!-- Ghost 相关标签信息 --}}
  {{ghost_head}}

</head>
<body class="{{body_class}}">
<div class="pomelo-app-wrapper">
  {{> "site-header"}}
  <div class="pomelo-content site-content">
    {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}
  </div>
  {{> "site-footer"}}
</div>

<!--<script src="https://unpkg.com/@floating-ui/dom@0.5.4"></script>-->
<script src="{{asset "assets/pomelo.js"}}"></script>
{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}
</body>
</html>
