<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.主题风格 "黑暗"}} class="dark-mode"{{else match @custom.主题风格 "自动"}} class="auto-color"{{/match}}>
<head>

  {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
  <title>{{meta_title}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
  this will take care of caching and cache-busting automatically --}}
  <link rel="stylesheet" type="text/css" href="{{asset "assets/app.css"}}" />

  {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
  it should always be the last tag before the closing head tag --}}
  {{ghost_head}}

</head>
<body class="{{body_class}}">

<script src="{{asset "assets/app.js"}}"></script>
{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}
</body>
</html>
