{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

{{!--Special header-background.hbs partial to generate the background image--}}
{{> "site-hero" backgroundImage=@site.cover_image}}


{{!-- The main content area --}}
<main class="site-posts-main {{body_class}}">
  <div class="container mx-auto mt-8 pt-8 mb-12 pb-12 px-4 md:px-8">
    {{#post}}
      <h3 class="text-4xl text-center mb-2 pb-2">
        {{title}}
      </h3>
      <div class="text-center mb-4">
        {{#if primary_author}}
          <span class="meta meta-title">{{#primary_author}}{{name}}{{/primary_author}}</span>{{/if}}
        <span class="meta-cut">•</span>
        <time class="meta-title title-date-time" datetime="{{date format="YYYY-MM-DD"}}">{{date
          format="YYYY年MM月DD日"}}</time>
        <span class="meta-cut">•</span>
        {{#if primary_tag}}<span class="meta meta-tag">{{#primary_tag}}{{name}}{{/primary_tag}}</span>{{/if}}
        <span class="meta-cut">•</span>
        <span id="{{url}}">阅读量 <span id="twikoo_visitors">0</span> 次</span>
        <span class="meta-cut">•</span>
        <span id="{{url}}">评论量 <span id="twikoo_comments">0</span> 个</span>
      </div>
      <article class="prose lg:prose-xl prose-slate max-w-none">{{content}}</article>
    {{/post}}
  </div>
</main>
