{{!--
This error template is used for all 400/500 errors, except 404, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
You'll notice that we *don't* use any JavsScript, or ghost_head / ghost_foot in this file.
--}}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}} - 关注互联网及IT科技的个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="淮城一只猫,淮城,IT博客,个人博客,王瑾,盒子丶先生,WEB平台,BOX-ROM,BoxMod">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />

    <!--dns预加载-->
    <link rel="dns-prefetch" href="{{@site.url}}">
    <link rel="dns-prefetch" href="https://casper.ghost.org">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="https://hm.baidu.com">
    <link rel="dns-prefetch" href="https://zz.bdstatic.com">
    <link rel="dns-prefetch" href="https://api.share.baidu.com">
    <link rel="dns-prefetch" href="https://push.zhanzhang.baidu.com">
</head>
<body class="error-template">
    <div class="site-wrapper">

        <header class="site-header outer {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-image{{/if}}">
            <div class="inner">
                <nav class="site-nav-center">
                    {{#if @site.logo}}
                        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{img_url @site.logo size="xs"}}" alt="{{@site.title}}" /></a>
                    {{else}}
                        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
                    {{/if}}
                </nav>
            </div>
        </header>

        <main id="site-main" class="site-main outer">
            <div class="inner">

                <section class="error-message">
                    <h1 class="error-code">{{code}}</h1>
                    <p class="error-description">{{message}}</p>
                    <a class="error-link" href="{{@site.url}}">返回首页 →</a>
                </section>

                {{#if errorDetails}}
                <section class="error-stack">
                    <h3>Theme errors</h3>
                    <ul class="error-stack-list">
                        {{#foreach errorDetails}}
                            <li>
                                <em class="error-stack-function">{{{rule}}}</em>

                                {{#foreach failures}}
                                    <p><span class="error-stack-file">参考: {{ref}}</span></p>
                                    <p><span class="error-stack-file">通知: {{message}}</span></p>
                                {{/foreach}}
                            </li>
                        {{/foreach}}
                    </ul>
                </section>
                {{/if}}

            </div>
        </main>
    </div>
</body>
</html>
