<section class="main-footer-info">
  <div class="container-sm">
    <div class="row">
      <div class="d-none d-lg-block py-5 col main-footer-info-tags">
        <h3 class="mb-3 main-footer-info-title main-footer-info-tags-title">标签</h3>
        <div class="d-flex flex-row flex-wrap justify-content-center align-items-center w-100 h-100 main-footer-info-tags-list">
          {{#get "tags" limit="all" filter="name:-['菜单1', '菜单2', '菜单3']"}}
            {{#if tags.length}}
              {{#foreach tags}}
                <a href="{{url}}" class="tag-item">{{name}}</a>
              {{/foreach}}
            {{else}}
              <div class="d-flex justify-content-center align-items-center w-100 h-100 no-data">暂无标签</div>
            {{/if}}
          {{/get}}
        </div>
      </div>
      <div class="d-none d-lg-block py-5 col main-footer-info-navigation">
        <h3 class="mb-3 main-footer-info-title main-footer-info-navigation-title">导航</h3>
        <div class="w-100 h-100 main-footer-info-navigation-list">
          {{#if @site.secondary_navigation}}
            {{navigation type="secondary"}}
          {{else}}
            <div class="d-flex justify-content-center align-items-center w-100 h-100 no-data">暂无导航</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>
